@using CvBerkaySezer.Models
@model List<Contact>
@{
    ViewBag.Title = "Mesajlar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Mesajlar</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">Mesajlar</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Action("MessageMenu", "Message")
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <table id="tblMessages" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Ad Soyad</th>
                                    <th>E-posta</th>
                                    <th>İçerik</th>
                                    <th>Tarih</th>
                                    <th>Durum</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var message in Model)
                                {
                                    <tr>
                                        <td>@message.Name @message.Surname</td>
                                        <td>@message.Email</td>
                                        <td>@(message.Message.Length > 50 ? message.Message.Substring(0,47) + "..." : message.Message)</td>
                                        <td>@message.Time.ToString("dd.MM.yyyy HH:mm")</td>
                                        <td>
                                            @if (message.IsRead)
                                            {
                                                <span class="badge badge-secondary">Okundu</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-primary">Okunmadı</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="/Admin/Message/Detail/@message.Id" class="btn btn-outline-primary btn-sm" target="_blank">Detay</a>

                                            @if (Request.QueryString["f"] != "copkutusu")
                                            {
                                                <a href="#" class="btn btn-outline-danger btn-sm btnMesajSil" data-messageid="@message.Id" data-konu="@message.Subject">Sil</a>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMesajSil" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Uyarı! Mesaj Sililecek</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modalKonu"></p>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Message", FormMethod.Post))
                {
                    @Html.Hidden("Id")
                    <button type="submit" class="btn btn-primary">Onay</button>
                }

            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Admin/Content/plugins/jquery/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(document).on("click", ".btnMesajSil", OpenSilModal);
    });

    function OpenSilModal() {
        var mesajId = $(this).data("messageid");
        var mesajKonu = $(this).data("konu");

        $('.modalKonu').html(mesajKonu + ' konulu mesaj silinecek. Onaylıyor musunuz?');
        $('#Id').val(mesajId)
        $("#modalMesajSil").modal();
    }
</script>

<script>
    $(function () {
        $("#tblMessages").DataTable({
            order: [[3, 'desc']],
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
            }
        });

    });</script>

@if (TempData["ContactMessage"] != null)
{
    <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: '@TempData["ContactType"]',
                title: '@TempData["ContactMessage"]'
            })
    </script>
}