@using CvBerkaySezer.Models
@model Title
@{
    ViewBag.Title = "Başlık";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Başlık</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">Başlık</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body p-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Başlık</th>
                                    <th>İçerik</th>
                                    <th>Durum</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Head</td>
                                    <td title="@Model.Content">@(Model.Content.Length > 100 ? Model.Content.Substring(0,97) + "...": Model.Content)</td>
                                    <td>
                                        @if (Model.IsDeleted)
                                        {
                                            <span class="badge badge-danger">Silindi</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-success">Aktif</span>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Bilgileri Düzenle</h3>
                    </div>
                    @using (Html.BeginForm("Index", "Title", FormMethod.Post))
                    {
                        @Html.HiddenFor(x=>x.Id)
                        <div class="card-body">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Head, "Başlık", new { @class = "" })
                                @Html.TextBoxFor(x => x.Head, "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Head, "", new { @class = "small", @style = "color:red;" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Content, "Başlık", new { @class = "" })
                                @Html.TextAreaFor(x => x.Content, new { @class = "form-control", @rows = "6" })
                                @Html.ValidationMessageFor(x => x.Content, "", new { @class = "small", @style = "color:red;" })
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    @Html.CheckBoxFor(x => x.IsDeleted, new { @class = "custom-control-input" })
                                    @Html.LabelFor(x => x.IsDeleted, "Sil", new { @class = "custom-control-label" })
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


